<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.CUR_cent_1ST</key>
		<array>
			<string>cent</string>
		</array>
		<key>public.kern1.CUR_dollar_1ST</key>
		<array>
			<string>dollar</string>
		</array>
		<key>public.kern1.CUR_euro_1ST</key>
		<array>
			<string>Euro</string>
		</array>
		<key>public.kern1.CUR_liraturkish_1ST</key>
		<array>
			<string>liraturkish</string>
		</array>
		<key>public.kern1.CUR_ruble_1ST</key>
		<array>
			<string>ruble</string>
		</array>
		<key>public.kern1.CUR_rupeeindian_1ST</key>
		<array>
			<string>rupeeindian</string>
		</array>
		<key>public.kern1.CUR_sterling_1ST</key>
		<array>
			<string>sterling</string>
		</array>
		<key>public.kern1.CUR_yen_1ST</key>
		<array>
			<string>yen</string>
		</array>
		<key>public.kern1.LAT_A_UC_1ST</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Agrave</string>
			<string>Acircumflex</string>
			<string>Aogonek</string>
			<string>Atilde</string>
			<string>Amacron</string>
			<string>Adieresis</string>
			<string>Abreve</string>
			<string>Aring</string>
		</array>
		<key>public.kern1.LAT_B_UC_1ST</key>
		<array>
			<string>B</string>
		</array>
		<key>public.kern1.LAT_C_UC_1ST</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Cdotaccent</string>
		</array>
		<key>public.kern1.LAT_E_UC_1ST</key>
		<array>
			<string>E</string>
			<string>AE</string>
			<string>OE</string>
			<string>Eogonek</string>
			<string>Eacute</string>
			<string>Egrave</string>
			<string>Ecircumflex</string>
			<string>Ecaron</string>
			<string>Emacron</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
		</array>
		<key>public.kern1.LAT_Eng_UC_1ST</key>
		<array>
			<string>Eng</string>
		</array>
		<key>public.kern1.LAT_F_UC_1ST</key>
		<array>
			<string>F</string>
		</array>
		<key>public.kern1.LAT_G_UC_1ST</key>
		<array>
			<string>G</string>
			<string>Gcommabelow</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
		</array>
		<key>public.kern1.LAT_Germandbls_UC_1ST</key>
		<array>
			<string>Germandbls</string>
		</array>
		<key>public.kern1.LAT_H_UC_1ST</key>
		<array>
			<string>H</string>
			<string>I</string>
			<string>M</string>
			<string>N</string>
			<string>Ntilde</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Ncommabelow</string>
			<string>Hdotbelow</string>
			<string>Iogonek</string>
			<string>Igrave</string>
			<string>Idotaccent</string>
		</array>
		<key>public.kern1.LAT_Hbar_UC_1ST</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern1.LAT_Icircumflex_UC_1ST</key>
		<array>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Iacute</string>
			<string>Itilde</string>
			<string>Imacron</string>
		</array>
		<key>public.kern1.LAT_K_UC_1ST</key>
		<array>
			<string>K</string>
			<string>Kcommabelow</string>
		</array>
		<key>public.kern1.LAT_L_UC_1ST</key>
		<array>
			<string>L</string>
			<string>Lslash</string>
			<string>Lcommabelow</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Ldotbelow</string>
		</array>
		<key>public.kern1.LAT_O_UC_1ST</key>
		<array>
			<string>O</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcroat</string>
			<string>Dcaron</string>
			<string>Oacute</string>
			<string>Ocircumflex</string>
			<string>Ohungarumlaut</string>
			<string>Ograve</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Oslash</string>
			<string>Q</string>
		</array>
		<key>public.kern1.LAT_P_UC_1ST</key>
		<array>
			<string>P</string>
		</array>
		<key>public.kern1.LAT_R_UC_1ST</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
		</array>
		<key>public.kern1.LAT_S_UC_1ST</key>
		<array>
			<string>S</string>
			<string>Scedilla</string>
			<string>Scommabelow</string>
			<string>Sacute</string>
			<string>Scaron</string>
		</array>
		<key>public.kern1.LAT_T_UC_1ST</key>
		<array>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcommabelow</string>
			<string>Tcaron</string>
		</array>
		<key>public.kern1.LAT_Tbar_UC_1ST</key>
		<array>
			<string>Tbar</string>
		</array>
		<key>public.kern1.LAT_Thorn_UC_1ST</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>public.kern1.LAT_U_UC_1ST</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ugrave</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Uogonek</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Utilde</string>
			<string>J</string>
			<string>IJacute</string>
			<string>IJ</string>
		</array>
		<key>public.kern1.LAT_V_UC_1ST</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern1.LAT_W_UC_1ST</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wgrave</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern1.LAT_X_UC_1ST</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern1.LAT_Y_UC_1ST</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
			<string>Yacute</string>
			<string>Ygrave</string>
			<string>Ycircumflex</string>
		</array>
		<key>public.kern1.LAT_Z_UC_1ST</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern1.LAT_c_LC_1ST</key>
		<array>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>cdotaccent</string>
			<string>ccedilla</string>
		</array>
		<key>public.kern1.LAT_dcroat_LC_1ST</key>
		<array>
			<string>dcroat</string>
		</array>
		<key>public.kern1.LAT_eth_LC_1ST</key>
		<array>
			<string>eth</string>
		</array>
		<key>public.kern1.LAT_f_LC_1ST</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern1.LAT_germandbls_LC_1ST</key>
		<array>
			<string>germandbls</string>
		</array>
		<key>public.kern1.LAT_i_LC_1ST</key>
		<array>
			<string>i</string>
			<string>l</string>
			<string>d</string>
			<string>lcommabelow</string>
			<string>iogonek</string>
			<string>lacute</string>
			<string>ldotbelow</string>
		</array>
		<key>public.kern1.LAT_icircumflex_LC_1ST</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>iacute</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>ijacute</string>
		</array>
		<key>public.kern1.LAT_igrave_LC_1ST</key>
		<array>
			<string>igrave</string>
		</array>
		<key>public.kern1.LAT_j_LC_1ST</key>
		<array>
			<string>j</string>
			<string>dotlessj</string>
			<string>ij</string>
			<string>eng</string>
		</array>
		<key>public.kern1.LAT_k_LC_1ST</key>
		<array>
			<string>k</string>
			<string>kcommabelow</string>
			<string>kgreenlandic</string>
		</array>
		<key>public.kern1.LAT_lcaron_LC_1ST</key>
		<array>
			<string>lcaron</string>
			<string>dcaron</string>
		</array>
		<key>public.kern1.LAT_lslash_LC_1ST</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern1.LAT_n_LC_1ST</key>
		<array>
			<string>n</string>
			<string>ntilde</string>
			<string>ncommabelow</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>a</string>
			<string>aogonek</string>
			<string>agrave</string>
			<string>acircumflex</string>
			<string>aacute</string>
			<string>atilde</string>
			<string>amacron</string>
			<string>adieresis</string>
			<string>abreve</string>
			<string>aring</string>
			<string>h</string>
			<string>hdotbelow</string>
			<string>hbar</string>
			<string>m</string>
		</array>
		<key>public.kern1.LAT_o_LC_1ST</key>
		<array>
			<string>o</string>
			<string>b</string>
			<string>p</string>
			<string>thorn</string>
			<string>oslash</string>
			<string>oacute</string>
			<string>ohungarumlaut</string>
			<string>ograve</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>e</string>
			<string>ae</string>
			<string>oe</string>
			<string>eogonek</string>
			<string>eacute</string>
			<string>egrave</string>
			<string>ecircumflex</string>
			<string>ecaron</string>
			<string>emacron</string>
			<string>edieresis</string>
			<string>edotaccent</string>
		</array>
		<key>public.kern1.LAT_q_LC_1ST</key>
		<array>
			<string>q</string>
			<string>g</string>
			<string>gcommaabove</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
		</array>
		<key>public.kern1.LAT_r_LC_1ST</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
		</array>
		<key>public.kern1.LAT_s_LC_1ST</key>
		<array>
			<string>s</string>
			<string>scedilla</string>
			<string>scommabelow</string>
			<string>sacute</string>
			<string>scaron</string>
		</array>
		<key>public.kern1.LAT_t_LC_1ST</key>
		<array>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcommabelow</string>
			<string>tcaron</string>
		</array>
		<key>public.kern1.LAT_tbar_LC_1ST</key>
		<array>
			<string>tbar</string>
		</array>
		<key>public.kern1.LAT_u_LC_1ST</key>
		<array>
			<string>u</string>
			<string>uogonek</string>
			<string>uacute</string>
			<string>uhungarumlaut</string>
			<string>ugrave</string>
			<string>ucircumflex</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>udieresis</string>
			<string>uring</string>
			<string>dotlessi</string>
		</array>
		<key>public.kern1.LAT_v_LC_1ST</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>ydieresis</string>
			<string>ygrave</string>
			<string>yacute</string>
			<string>ycircumflex</string>
		</array>
		<key>public.kern1.LAT_w_LC_1ST</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wgrave</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern1.LAT_x_LC_1ST</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern1.LAT_z_LC_1ST</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern1.NUM_degree_1ST</key>
		<array>
			<string>degree</string>
		</array>
		<key>public.kern1.NUM_dnom</key>
		<array>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
		</array>
		<key>public.kern1.NUM_eight_1ST</key>
		<array>
			<string>eight</string>
			<string>three</string>
		</array>
		<key>public.kern1.NUM_five_1ST</key>
		<array>
			<string>five</string>
		</array>
		<key>public.kern1.NUM_four_1ST</key>
		<array>
			<string>four</string>
		</array>
		<key>public.kern1.NUM_nine_1ST</key>
		<array>
			<string>nine</string>
		</array>
		<key>public.kern1.NUM_numr</key>
		<array>
			<string>zerosuperior</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
		</array>
		<key>public.kern1.NUM_one_1ST</key>
		<array>
			<string>one</string>
		</array>
		<key>public.kern1.NUM_seven_1ST</key>
		<array>
			<string>seven</string>
		</array>
		<key>public.kern1.NUM_six_1ST</key>
		<array>
			<string>six</string>
		</array>
		<key>public.kern1.NUM_two_1ST</key>
		<array>
			<string>two</string>
		</array>
		<key>public.kern1.NUM_zero_1ST</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern1.PUNCT_ampersand_1ST</key>
		<array>
			<string>ampersand</string>
		</array>
		<key>public.kern1.PUNCT_asterisk_1ST</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>public.kern1.PUNCT_at.case_1ST</key>
		<array>
			<string>at.case</string>
		</array>
		<key>public.kern1.PUNCT_at_1ST</key>
		<array>
			<string>at</string>
		</array>
		<key>public.kern1.PUNCT_backslash.case_1ST</key>
		<array>
			<string>backslash.case</string>
		</array>
		<key>public.kern1.PUNCT_backslash_1ST</key>
		<array>
			<string>backslash</string>
		</array>
		<key>public.kern1.PUNCT_bullet.case_1ST</key>
		<array>
			<string>bullet.case</string>
		</array>
		<key>public.kern1.PUNCT_bullet_1ST</key>
		<array>
			<string>bullet</string>
		</array>
		<key>public.kern1.PUNCT_colon_1ST</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern1.PUNCT_dagger_1ST</key>
		<array>
			<string>dagger</string>
		</array>
		<key>public.kern1.PUNCT_daggerdbl_1ST</key>
		<array>
			<string>daggerdbl</string>
		</array>
		<key>public.kern1.PUNCT_exclam_1ST</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern1.PUNCT_exclamdown.case_1ST</key>
		<array>
			<string>exclamdown.case</string>
		</array>
		<key>public.kern1.PUNCT_exclamdown_1ST</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>public.kern1.PUNCT_guilsinglleft.case_1ST</key>
		<array>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>public.kern1.PUNCT_guilsinglleft_1ST</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern1.PUNCT_guilsinglright.case_1ST</key>
		<array>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>public.kern1.PUNCT_guilsinglright_1ST</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern1.PUNCT_hyphen_1ST</key>
		<array>
			<string>hyphen</string>
			<string>nbhyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>nbhyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern1.PUNCT_numbersign_1ST</key>
		<array>
			<string>numbersign</string>
		</array>
		<key>public.kern1.PUNCT_paragraph_1ST</key>
		<array>
			<string>paragraph</string>
		</array>
		<key>public.kern1.PUNCT_parenleft.case_1ST</key>
		<array>
			<string>parenleft.case</string>
			<string>bracketleft.case</string>
			<string>braceleft.case</string>
		</array>
		<key>public.kern1.PUNCT_parenleft_1ST</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern1.PUNCT_parenright.case_1ST</key>
		<array>
			<string>parenright.case</string>
			<string>bracketright.case</string>
			<string>braceright.case</string>
		</array>
		<key>public.kern1.PUNCT_parenright_1ST</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern1.PUNCT_percent_1ST</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern1.PUNCT_period_1ST</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern1.PUNCT_periodcentered.case_1ST</key>
		<array>
			<string>periodcentered.case</string>
		</array>
		<key>public.kern1.PUNCT_periodcentered_1ST</key>
		<array>
			<string>periodcentered</string>
		</array>
		<key>public.kern1.PUNCT_question_1ST</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern1.PUNCT_questiondown.case_1ST</key>
		<array>
			<string>questiondown.case</string>
		</array>
		<key>public.kern1.PUNCT_questiondown_1ST</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>public.kern1.PUNCT_quotesingle_1ST</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern1.PUNCT_section_1ST</key>
		<array>
			<string>section</string>
		</array>
		<key>public.kern1.PUNCT_slash.case_1ST</key>
		<array>
			<string>slash.case</string>
		</array>
		<key>public.kern1.PUNCT_slash_1ST</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern1.PUNCT_underscore_1ST</key>
		<array>
			<string>underscore</string>
		</array>
		<key>public.kern2.CUR_cent_2ND</key>
		<array>
			<string>cent</string>
		</array>
		<key>public.kern2.CUR_dollar_2ND</key>
		<array>
			<string>dollar</string>
		</array>
		<key>public.kern2.CUR_euro_2ND</key>
		<array>
			<string>Euro</string>
		</array>
		<key>public.kern2.CUR_liraturkish_2ND</key>
		<array>
			<string>liraturkish</string>
		</array>
		<key>public.kern2.CUR_ruble_2ND</key>
		<array>
			<string>ruble</string>
		</array>
		<key>public.kern2.CUR_rupeeindian_2ND</key>
		<array>
			<string>rupeeindian</string>
		</array>
		<key>public.kern2.CUR_sterling_2ND</key>
		<array>
			<string>sterling</string>
		</array>
		<key>public.kern2.CUR_yen_2ND</key>
		<array>
			<string>yen</string>
		</array>
		<key>public.kern2.LAT_AE_UC_2ND</key>
		<array>
			<string>AE</string>
		</array>
		<key>public.kern2.LAT_A_UC_2ND</key>
		<array>
			<string>A</string>
			<string>Aacute</string>
			<string>Agrave</string>
			<string>Acircumflex</string>
			<string>Aogonek</string>
			<string>Atilde</string>
			<string>Amacron</string>
			<string>Adieresis</string>
			<string>Abreve</string>
			<string>Aring</string>
		</array>
		<key>public.kern2.LAT_Eth_UC_2ND</key>
		<array>
			<string>Eth</string>
			<string>Dcroat</string>
		</array>
		<key>public.kern2.LAT_Germandbls_UC_2ND</key>
		<array>
			<string>Germandbls</string>
		</array>
		<key>public.kern2.LAT_H_UC_2ND</key>
		<array>
			<string>H</string>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>I</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>P</string>
			<string>R</string>
			<string>Hdotbelow</string>
			<string>Dcaron</string>
			<string>Eng</string>
			<string>Eacute</string>
			<string>Egrave</string>
			<string>Ecircumflex</string>
			<string>Edieresis</string>
			<string>Ecaron</string>
			<string>Emacron</string>
			<string>Edotaccent</string>
			<string>Eogonek</string>
			<string>Iacute</string>
			<string>Iogonek</string>
			<string>IJ</string>
			<string>IJacute</string>
			<string>Idotaccent</string>
			<string>Kcommabelow</string>
			<string>Ntilde</string>
			<string>Ncommabelow</string>
			<string>Nacute</string>
			<string>Ncaron</string>
			<string>Thorn</string>
			<string>Lcommabelow</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Ldotbelow</string>
			<string>Racute</string>
			<string>Rcaron</string>
		</array>
		<key>public.kern2.LAT_Hbar_UC_2ND</key>
		<array>
			<string>Hbar</string>
		</array>
		<key>public.kern2.LAT_Icircumflex_UC_2ND</key>
		<array>
			<string>Icircumflex</string>
			<string>Idieresis</string>
			<string>Igrave</string>
			<string>Itilde</string>
			<string>Imacron</string>
		</array>
		<key>public.kern2.LAT_J_UC_2ND</key>
		<array>
			<string>J</string>
		</array>
		<key>public.kern2.LAT_Lslash_UC_2ND</key>
		<array>
			<string>Lslash</string>
		</array>
		<key>public.kern2.LAT_O_UC_2ND</key>
		<array>
			<string>O</string>
			<string>C</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Cdotaccent</string>
			<string>G</string>
			<string>Q</string>
			<string>OE</string>
			<string>Ccedilla</string>
			<string>Gcommabelow</string>
			<string>Oacute</string>
			<string>Ohungarumlaut</string>
			<string>Ograve</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Odieresis</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
			<string>Oslash</string>
		</array>
		<key>public.kern2.LAT_S_UC_2ND</key>
		<array>
			<string>S</string>
			<string>Scedilla</string>
			<string>Scommabelow</string>
			<string>Sacute</string>
			<string>Scaron</string>
		</array>
		<key>public.kern2.LAT_T_UC_2ND</key>
		<array>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcommabelow</string>
			<string>Tcaron</string>
		</array>
		<key>public.kern2.LAT_Tbar_UC_2ND</key>
		<array>
			<string>Tbar</string>
		</array>
		<key>public.kern2.LAT_U_UC_2ND</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Ugrave</string>
			<string>Ucircumflex</string>
			<string>Udieresis</string>
			<string>Uogonek</string>
			<string>Uhungarumlaut</string>
			<string>Umacron</string>
			<string>Uring</string>
			<string>Utilde</string>
		</array>
		<key>public.kern2.LAT_V_UC_2ND</key>
		<array>
			<string>V</string>
		</array>
		<key>public.kern2.LAT_W_UC_2ND</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wgrave</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
		</array>
		<key>public.kern2.LAT_X_UC_2ND</key>
		<array>
			<string>X</string>
		</array>
		<key>public.kern2.LAT_Y_UC_2ND</key>
		<array>
			<string>Y</string>
			<string>Ydieresis</string>
			<string>Yacute</string>
			<string>Ygrave</string>
			<string>Ycircumflex</string>
		</array>
		<key>public.kern2.LAT_Z_UC_2ND</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>public.kern2.LAT_a_LC_2ND</key>
		<array>
			<string>a</string>
			<string>aogonek</string>
			<string>agrave</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>amacron</string>
			<string>adieresis</string>
			<string>abreve</string>
			<string>aring</string>
			<string>aacute</string>
			<string>ae</string>
		</array>
		<key>public.kern2.LAT_f_LC_2ND</key>
		<array>
			<string>f</string>
		</array>
		<key>public.kern2.LAT_germandbls_LC_2ND</key>
		<array>
			<string>germandbls</string>
		</array>
		<key>public.kern2.LAT_h_LC_2ND</key>
		<array>
			<string>h</string>
			<string>b</string>
			<string>k</string>
			<string>l</string>
			<string>i</string>
			<string>ij</string>
			<string>ijacute</string>
			<string>hdotbelow</string>
			<string>lcommabelow</string>
			<string>iogonek</string>
			<string>iacute</string>
			<string>lacute</string>
			<string>ldotbelow</string>
			<string>kcommabelow</string>
			<string>lcaron</string>
		</array>
		<key>public.kern2.LAT_hbar_LC_2ND</key>
		<array>
			<string>hbar</string>
		</array>
		<key>public.kern2.LAT_icircumflex_LC_2ND</key>
		<array>
			<string>icircumflex</string>
			<string>idieresis</string>
			<string>itilde</string>
			<string>imacron</string>
			<string>igrave</string>
		</array>
		<key>public.kern2.LAT_j_LC_2ND</key>
		<array>
			<string>j</string>
			<string>dotlessj</string>
		</array>
		<key>public.kern2.LAT_lslash_LC_2ND</key>
		<array>
			<string>lslash</string>
		</array>
		<key>public.kern2.LAT_n_LC_2ND</key>
		<array>
			<string>n</string>
			<string>m</string>
			<string>r</string>
			<string>ntilde</string>
			<string>dotlessi</string>
			<string>eng</string>
			<string>kgreenlandic</string>
			<string>ncommabelow</string>
			<string>nacute</string>
			<string>ncaron</string>
			<string>racute</string>
			<string>rcaron</string>
		</array>
		<key>public.kern2.LAT_o_LC_2ND</key>
		<array>
			<string>o</string>
			<string>oacute</string>
			<string>ohungarumlaut</string>
			<string>ograve</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>odieresis</string>
			<string>c</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>cdotaccent</string>
			<string>ccedilla</string>
			<string>d</string>
			<string>dcaron</string>
			<string>dcroat</string>
			<string>e</string>
			<string>edieresis</string>
			<string>ecircumflex</string>
			<string>eogonek</string>
			<string>eacute</string>
			<string>egrave</string>
			<string>ecaron</string>
			<string>emacron</string>
			<string>edotaccent</string>
			<string>q</string>
			<string>oe</string>
			<string>eth</string>
			<string>oslash</string>
			<string>g</string>
			<string>gcommaabove</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
		</array>
		<key>public.kern2.LAT_ordmasculine_2ND</key>
		<array>
			<string>ordmasculine</string>
			<string>ordfeminine</string>
		</array>
		<key>public.kern2.LAT_p_LC_2ND</key>
		<array>
			<string>p</string>
		</array>
		<key>public.kern2.LAT_s_LC_2ND</key>
		<array>
			<string>s</string>
			<string>scedilla</string>
			<string>scommabelow</string>
			<string>sacute</string>
			<string>scaron</string>
		</array>
		<key>public.kern2.LAT_t_LC_2ND</key>
		<array>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcaron</string>
			<string>tcommabelow</string>
		</array>
		<key>public.kern2.LAT_tbar_LC_2ND</key>
		<array>
			<string>tbar</string>
		</array>
		<key>public.kern2.LAT_thorn_LC_2ND</key>
		<array>
			<string>thorn</string>
		</array>
		<key>public.kern2.LAT_u_LC_2ND</key>
		<array>
			<string>u</string>
			<string>uogonek</string>
			<string>uacute</string>
			<string>uhungarumlaut</string>
			<string>ugrave</string>
			<string>ucircumflex</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>udieresis</string>
			<string>uring</string>
		</array>
		<key>public.kern2.LAT_v_LC_2ND</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>yacute</string>
			<string>ygrave</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
		</array>
		<key>public.kern2.LAT_w_LC_2ND</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wgrave</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
		</array>
		<key>public.kern2.LAT_x_LC_2ND</key>
		<array>
			<string>x</string>
		</array>
		<key>public.kern2.LAT_z_LC_2ND</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>public.kern2.NUM_degree_2ND</key>
		<array>
			<string>degree</string>
		</array>
		<key>public.kern2.NUM_dnom</key>
		<array>
			<string>zeroinferior</string>
			<string>oneinferior</string>
			<string>twoinferior</string>
			<string>threeinferior</string>
			<string>fourinferior</string>
			<string>fiveinferior</string>
			<string>sixinferior</string>
			<string>seveninferior</string>
			<string>eightinferior</string>
			<string>nineinferior</string>
			<string>zero.dnom</string>
			<string>one.dnom</string>
			<string>two.dnom</string>
			<string>three.dnom</string>
			<string>four.dnom</string>
			<string>five.dnom</string>
			<string>six.dnom</string>
			<string>seven.dnom</string>
			<string>eight.dnom</string>
			<string>nine.dnom</string>
		</array>
		<key>public.kern2.NUM_eight_2ND</key>
		<array>
			<string>eight</string>
		</array>
		<key>public.kern2.NUM_five_2ND</key>
		<array>
			<string>five</string>
		</array>
		<key>public.kern2.NUM_four_2ND</key>
		<array>
			<string>four</string>
		</array>
		<key>public.kern2.NUM_nine_2ND</key>
		<array>
			<string>nine</string>
		</array>
		<key>public.kern2.NUM_numr</key>
		<array>
			<string>zerosuperior</string>
			<string>onesuperior</string>
			<string>twosuperior</string>
			<string>threesuperior</string>
			<string>foursuperior</string>
			<string>fivesuperior</string>
			<string>sixsuperior</string>
			<string>sevensuperior</string>
			<string>eightsuperior</string>
			<string>ninesuperior</string>
			<string>zero.numr</string>
			<string>one.numr</string>
			<string>two.numr</string>
			<string>three.numr</string>
			<string>four.numr</string>
			<string>five.numr</string>
			<string>six.numr</string>
			<string>seven.numr</string>
			<string>eight.numr</string>
			<string>nine.numr</string>
		</array>
		<key>public.kern2.NUM_one_2ND</key>
		<array>
			<string>one</string>
		</array>
		<key>public.kern2.NUM_seven_2ND</key>
		<array>
			<string>seven</string>
		</array>
		<key>public.kern2.NUM_six_2ND</key>
		<array>
			<string>six</string>
		</array>
		<key>public.kern2.NUM_three_2ND</key>
		<array>
			<string>three</string>
		</array>
		<key>public.kern2.NUM_two_2ND</key>
		<array>
			<string>two</string>
		</array>
		<key>public.kern2.NUM_zero_2ND</key>
		<array>
			<string>zero</string>
		</array>
		<key>public.kern2.PUNCT_ampersand_2ND</key>
		<array>
			<string>ampersand</string>
		</array>
		<key>public.kern2.PUNCT_asterisk_2ND</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>public.kern2.PUNCT_at.case_2ND</key>
		<array>
			<string>at.case</string>
		</array>
		<key>public.kern2.PUNCT_at_2ND</key>
		<array>
			<string>at</string>
		</array>
		<key>public.kern2.PUNCT_backslash.case_2ND</key>
		<array>
			<string>backslash.case</string>
		</array>
		<key>public.kern2.PUNCT_backslash_2ND</key>
		<array>
			<string>backslash</string>
		</array>
		<key>public.kern2.PUNCT_bullet.case_2ND</key>
		<array>
			<string>bullet.case</string>
		</array>
		<key>public.kern2.PUNCT_bullet_2ND</key>
		<array>
			<string>bullet</string>
		</array>
		<key>public.kern2.PUNCT_colon_2ND</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>public.kern2.PUNCT_dagger_2ND</key>
		<array>
			<string>dagger</string>
		</array>
		<key>public.kern2.PUNCT_daggerdbl_2ND</key>
		<array>
			<string>daggerdbl</string>
		</array>
		<key>public.kern2.PUNCT_exclam_2ND</key>
		<array>
			<string>exclam</string>
		</array>
		<key>public.kern2.PUNCT_exclamdown.case_2ND</key>
		<array>
			<string>exclamdown.case</string>
		</array>
		<key>public.kern2.PUNCT_exclamdown_2ND</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>public.kern2.PUNCT_guilsinglleft.case_2ND</key>
		<array>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>public.kern2.PUNCT_guilsinglleft_2ND</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
		</array>
		<key>public.kern2.PUNCT_guilsinglright.case_2ND</key>
		<array>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>public.kern2.PUNCT_guilsinglright_2ND</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
		</array>
		<key>public.kern2.PUNCT_hyphen_2ND</key>
		<array>
			<string>hyphen</string>
			<string>nbhyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>nbhyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>public.kern2.PUNCT_numbersign_2ND</key>
		<array>
			<string>numbersign</string>
		</array>
		<key>public.kern2.PUNCT_paragraph_2ND</key>
		<array>
			<string>paragraph</string>
		</array>
		<key>public.kern2.PUNCT_parenleft.case_2ND</key>
		<array>
			<string>parenleft.case</string>
			<string>bracketleft.case</string>
			<string>braceleft.case</string>
		</array>
		<key>public.kern2.PUNCT_parenleft_2ND</key>
		<array>
			<string>parenleft</string>
			<string>bracketleft</string>
			<string>braceleft</string>
		</array>
		<key>public.kern2.PUNCT_parenright.case_2ND</key>
		<array>
			<string>parenright.case</string>
			<string>bracketright.case</string>
			<string>braceright.case</string>
		</array>
		<key>public.kern2.PUNCT_parenright_2ND</key>
		<array>
			<string>parenright</string>
			<string>bracketright</string>
			<string>braceright</string>
		</array>
		<key>public.kern2.PUNCT_percent_2ND</key>
		<array>
			<string>percent</string>
			<string>perthousand</string>
		</array>
		<key>public.kern2.PUNCT_period_2ND</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>public.kern2.PUNCT_periodcentered.case_2ND</key>
		<array>
			<string>periodcentered.case</string>
		</array>
		<key>public.kern2.PUNCT_periodcentered_2ND</key>
		<array>
			<string>periodcentered</string>
		</array>
		<key>public.kern2.PUNCT_question_2ND</key>
		<array>
			<string>question</string>
		</array>
		<key>public.kern2.PUNCT_questiondown.case_2ND</key>
		<array>
			<string>questiondown.case</string>
		</array>
		<key>public.kern2.PUNCT_questiondown_2ND</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>public.kern2.PUNCT_quotesingle_2ND</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quotedblleft</string>
			<string>quoteright</string>
			<string>quotedblright</string>
		</array>
		<key>public.kern2.PUNCT_section_2ND</key>
		<array>
			<string>section</string>
		</array>
		<key>public.kern2.PUNCT_slash.case_2ND</key>
		<array>
			<string>slash.case</string>
		</array>
		<key>public.kern2.PUNCT_slash_2ND</key>
		<array>
			<string>slash</string>
		</array>
		<key>public.kern2.PUNCT_trademark_2ND</key>
		<array>
			<string>trademark</string>
			<string>registered</string>
		</array>
		<key>public.kern2.PUNCT_underscore_2ND</key>
		<array>
			<string>underscore</string>
		</array>
	</dict>
</plist>
